header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

div {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
}